@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25 100% 98%;
    --foreground: 23 32% 16%;
    --card: 0 0% 100%;
    --card-foreground: 23 32% 16%;
    --primary: 26 96% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 26 100% 95%;
    --secondary-foreground: 24 72% 25%;
    --muted: 25 100% 96%;
    --muted-foreground: 24 16% 40%;
    --accent: 25 100% 93%;
    --accent-foreground: 25 89% 41%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 25 62% 86%;
    --input: 25 47% 84%;
    --ring: 26 96% 61%;
    --radius: 0.8rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
